@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.Task-2 {
  margin: 20px 0 0 0;
  background-color: darkorange;
  min-height: 70px;
  min-width: 100px;
}

.icon {
  margin: 0 10px 0 auto;
  width: 40px;
  height: 40px;
  background: black;
  color: wheat;
}

.icon:hover {
  margin: 0 5px 0 auto;
  width: 45px;
  height: 40px;
  background: black;
  color: wheat;
}

.title-2 {
  margin: 10px 0;
}

.list-products {
  margin: 0 5px;
  background-color: rgb(133, 74, 1);
  min-height: 10px;
}

/* .iconList {

} */

.material-icons {
  color: #696969;
  font-size: 40px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}